```java
class swap{
public static void main()
{
Scanner scan=new Scanner(System.in)
int x=2,y=23,temp;
temp=x;
x=y;
y=temp;
}
}
```

In [2]:
x,y=25,30
x,y=y,x
print(x," ",y)

30   25

In [3]:
### variables and data types

In [4]:
x=7

In [5]:
print(x)
print(type(x))

7
<class 'int'>

In [6]:
x=8.88
print(type(x))

<class 'float'>

In [7]:
print("abcd")

abcd

In [8]:
a="abcde"
b="efgh"
print(type(a))
print(type(b))

<class 'str'>
<class 'str'>

In [10]:
x=''''
abc
vbn
'''
print(x)

'
abc
vbn

In [11]:
type(True)

bool

In [12]:
# single line comment
'''
multi line
comment
'''

'\nmulti line\ncomment\n'

In [13]:
for i in range(0,5):
        print(i)

0
1
2
3
4

In [17]:
### Functions

In [20]:
def main():
    print("Hi")
main()

Hi

In [22]:
print(__name__)

__main__

In [24]:
def main():
    print("Hi")
main()

Hi

In [ ]:
### Inbuilt data structures

In [27]:
list1=[1,2,3,"abc",3.5]
type(list1)

list

In [28]:
len(list1)

5

In [29]:
for i in list1:
        print(i)

1
2
3
abc
3.5

In [33]:
for e,i in enumerate(list1,1):
        print(e," : ",i)

1  :  1
2  :  2
3  :  3
4  :  abc
5  :  3.5

In [52]:
a = [1,2,2,2,3,1,2,3,5,4,3,4,5]
    print(min(a))
    print(max(a))
    set(a)

IndentationError: unexpected indent (<ipython-input-52-799cc16d77af>, line 2)

In [35]:
{1,4,5,7,5,5,6,9}

{1, 4, 5, 6, 7, 9}

In [37]:
d = {
    "name":"John",
    "age":20,
    "Country":"India"
}
type(d)

dict

In [38]:
d.keys()

dict_keys(['name', 'age', 'Country'])

In [39]:
d.values()

dict_values(['John', 20, 'India'])

In [41]:
for key,value in d.items():
    print(key,"=",value)

name = John
age = 20
Country = India

In [42]:
for key,value in d.items():
    print("{} is equal to {}".format(key,value))

name is equal to John
age is equal to 20
Country is equal to India